@import './variables.scss';
@import './mixin.scss';
@import './sidebar.scss';

html {
  height: 100%;
  box-sizing: border-box; // 调整盒模型
}

body {
  height: 100%;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit; // 调整盒模型
}
